Node-RED/Node-Red-flow.json
[
    {
        "id": "a7c0786199e46121",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f88f39d9544a7f4",
        "type": "mqtt in",
        "z": "a7c0786199e46121",
        "name": "Accelerometer data",
        "topic": "imu",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_azure",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "7572917ec6b00558",
                "460a84f58c34ce1c"
            ]
        ]
    },
    {
        "id": "7572917ec6b00558",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "Data Display Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "48cd4cafd5f2ca48",
        "type": "ui_text",
        "z": "a7c0786199e46121",
        "group": "1e125c5c69767e81",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "X Axis",
        "label": "X Axis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "23",
        "color": "#1895e2",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "0da116f6494e8135",
        "type": "ui_text",
        "z": "a7c0786199e46121",
        "group": "1e125c5c69767e81",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Y Axis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "23",
        "color": "#2791d3",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "069e8b5557e566ac",
        "type": "ui_text",
        "z": "a7c0786199e46121",
        "group": "1e125c5c69767e81",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "Z Axis",
        "label": "Z Axis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "23",
        "color": "#2d93d2",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "f607ea2bb2a58a94",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "efced8f3c95ca532",
        "type": "ui_button",
        "z": "a7c0786199e46121",
        "name": "",
        "group": "0f77a262083218dc",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": true,
        "label": "Play Sound",
        "tooltip": "",
        "color": "",
        "bgcolor": "light blue",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "5655037ccedd6577",
                "2139692c6cfcb079"
            ]
        ]
    },
    {
        "id": "5655037ccedd6577",
        "type": "mqtt out",
        "z": "a7c0786199e46121",
        "name": "Sound Board Control",
        "topic": "sound",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_azure",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "2139692c6cfcb079",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 480,
        "wires": []
    },
    {
        "id": "568ecd5952891055",
        "type": "ui_button",
        "z": "a7c0786199e46121",
        "name": "",
        "group": "cffe68df2ea6f953",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Vibration Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "e97b8c27f01e62ad",
                "e5ef5077f198e997"
            ]
        ]
    },
    {
        "id": "e97b8c27f01e62ad",
        "type": "mqtt out",
        "z": "a7c0786199e46121",
        "name": "Motor Control",
        "topic": "motor",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_azure",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "e5ef5077f198e997",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "Vibration Off Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 860,
        "wires": []
    },
    {
        "id": "43d8dcf72af31825",
        "type": "mqtt out",
        "z": "a7c0786199e46121",
        "name": "Motor Control",
        "topic": "motor",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_azure",
        "x": 400,
        "y": 680,
        "wires": []
    },
    {
        "id": "dafe6290df80d3e0",
        "type": "ui_button",
        "z": "a7c0786199e46121",
        "name": "",
        "group": "cffe68df2ea6f953",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Vibration On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "43d8dcf72af31825",
                "57da282241b736c3"
            ]
        ]
    },
    {
        "id": "57da282241b736c3",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "Vibration On Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "c8a83caa3f22f21b",
        "type": "ui_button",
        "z": "a7c0786199e46121",
        "name": "",
        "group": "0f77a262083218dc",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop Sound",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "d14b3e0ce75540b8",
                "762b16696ee99836"
            ]
        ]
    },
    {
        "id": "d14b3e0ce75540b8",
        "type": "mqtt out",
        "z": "a7c0786199e46121",
        "name": "Sound Board Control",
        "topic": "sound",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_azure",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "762b16696ee99836",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "ec2a4fb536d9c171",
        "type": "ui_dropdown",
        "z": "a7c0786199e46121",
        "name": "",
        "label": "Sound Type",
        "tooltip": "",
        "place": "Sound Type",
        "group": "0f77a262083218dc",
        "order": 0,
        "width": "6",
        "height": "2",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "CATMEO1 WAV",
                "value": "CATMEO1 WAV",
                "type": "str"
            },
            {
                "label": "CATMEO2 WAV",
                "value": "CATMEO2 WAV",
                "type": "str"
            },
            {
                "label": "CATPUR  WAV",
                "value": "CATPUR  WAV",
                "type": "str"
            },
            {
                "label": "CATEAT  WAV",
                "value": "CATEAT  WAV",
                "type": "str"
            },
            {
                "label": "MUSIC1  WAV",
                "value": "MUSIC1  WAV",
                "type": "str"
            },
            {
                "label": "MUSIC2  WAV",
                "value": "MUSIC2  WAV",
                "type": "str"
            },
            {
                "label": "MUSIC3  WAV",
                "value": "MUSIC3  WAV",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "31de19805cdacb1b",
                "f607ea2bb2a58a94"
            ]
        ]
    },
    {
        "id": "460a84f58c34ce1c",
        "type": "function",
        "z": "a7c0786199e46121",
        "name": "function 3",
        "func": "// ADXL345 full-res approximate scale factor: 4 mg per LSB = 0.004 g\nconst SCALE_G = 0.004;\n\n// read raw counts\nconst xRaw = msg.payload.imux;\nconst yRaw = msg.payload.imuy;\nconst zRaw = msg.payload.imuz;\n\n// convert to g, rounding to 3 decimals\nconst xG = (xRaw * SCALE_G).toFixed(3);\nconst yG = (yRaw * SCALE_G).toFixed(3);\nconst zG = (zRaw * SCALE_G).toFixed(3);\n\nvar XaxisMsg = {\n    topic: \"X Axis\",\n    payload: xG + \" g\"\n};\nvar YaxisMsg = {\n    topic: \"Y Axis\",\n    payload: yG + \" g\"\n};\nvar ZaxisMsg = {\n    topic: \"Z Axis\",\n    payload: zG + \" g\"\n};\n\n// return in the same order as your three outputs\nreturn [XaxisMsg, YaxisMsg, ZaxisMsg];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "48cd4cafd5f2ca48"
            ],
            [
                "0da116f6494e8135"
            ],
            [
                "069e8b5557e566ac"
            ]
        ]
    },
    {
        "id": "31de19805cdacb1b",
        "type": "mqtt out",
        "z": "a7c0786199e46121",
        "name": "Sound Board Control",
        "topic": "sound",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_azure",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "a8e6a5ed062330f5",
        "type": "ui_button",
        "z": "a7c0786199e46121",
        "name": "",
        "group": "284f7ac0a8e25ed2",
        "order": 3,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Firmware Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "47b1d6c5a71ba435",
                "c491509baaac67cf"
            ]
        ]
    },
    {
        "id": "47b1d6c5a71ba435",
        "type": "mqtt out",
        "z": "a7c0786199e46121",
        "name": "Firmware Update",
        "topic": "otafu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_azure",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "c491509baaac67cf",
        "type": "debug",
        "z": "a7c0786199e46121",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "mqtt_broker_azure",
        "type": "mqtt-broker",
        "name": "Azure VM MQTT Broker",
        "broker": "20.185.221.248",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1e125c5c69767e81",
        "type": "ui_group",
        "name": "Accelerometer",
        "tab": "526f57359e91e192",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f77a262083218dc",
        "type": "ui_group",
        "name": "Sound Setting",
        "tab": "526f57359e91e192",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cffe68df2ea6f953",
        "type": "ui_group",
        "name": "Motor Control",
        "tab": "526f57359e91e192",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "284f7ac0a8e25ed2",
        "type": "ui_group",
        "name": "Firmware Update",
        "tab": "526f57359e91e192",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "526f57359e91e192",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]